In [23]:
from opentrons import protocol_api
import pandas as pd
import os

## Meta Data

metadata = {'protocolName': 'PME1 Digestion',
'author':'Mason Kellinger masonkellinger@vt.edu',
 'description':'First phase of yeast transformation',
 'apiLevel': '2.9'
}
print(metadata)

#os.chdir("C:/Users/mkell/Documents/GitHub/opentrons/Restriction")
os.getcwd()

#plasmid = pd.read_csv("20210901_pme1",engine = 'python', encoding='utf-8-sig')

plasmid = pd.DataFrame(data = [(34,226.5),(90,375.9),(119,314.8),(242,505.8)], columns = ['Plasmid','Concentration'])
plasmid

{'protocolName': 'PME1 Digestion', 'author': 'Mason Kellinger masonkellinger@vt.edu', 'description': 'First phase of yeast transformation', 'apiLevel': '2.9'}

   Plasmid  Concentration
0       34          226.5
1       90          375.9
2      119          314.8
3      242          505.8

In [24]:
plasmid['Buffer'] = float('4.4')
plasmid['PME1'] = float('1')
plasmid['Volume of Plasmid'] = ''
plasmid['Volume of Water'] = ''

plasmid['Volume of Plasmid'] = (1/(plasmid['Concentration'])) * 1000 * 1.5
plasmid['Volume of Water'] = 44 - plasmid['Volume of Plasmid'] - plasmid['Buffer'] - plasmid['PME1']

plasmid

   Plasmid  Concentration  Buffer  PME1  Volume of Plasmid  Volume of Water
0       34          226.5     4.4   1.0           6.622517        31.977483
1       90          375.9     4.4   1.0           3.990423        34.609577
2      119          314.8     4.4   1.0           4.764930        33.835070
3      242          505.8     4.4   1.0           2.965599        35.634401

In [25]:
row2well= {}
row2well['0'] = 'A2'
row2well['1'] = 'B2'
row2well['2'] = 'C2'
row2well['3'] = 'D2'
row2well['4'] = 'D3'
row2well['5'] = 'D4'
row2well['6'] = 'D5'
row2well['7'] = 'D6'

plasmid['Plasmid Location'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Plasmid Location'] = row2well[str(i)]
plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,Plasmid Location
0,34,226.5,4.4,1.0,6.622517,31.977483,A2
1,90,375.9,4.4,1.0,3.990423,34.609577,B2
2,119,314.8,4.4,1.0,4.764930,33.835070,C2
3,242,505.8,4.4,1.0,2.965599,35.634401,D2

In [26]:

row2tube= {}
row2tube['0'] = 'B1'
row2tube['1'] = 'B2'
row2tube['2'] = 'B3'
row2tube['3'] = 'B4'
row2tube['4'] = 'B5'
row2tube['5'] = 'B6'
row2tube['6'] = 'B7'
row2tube['7'] = 'B8'

plasmid['Digestion Tube'] = ''

for i, row in plasmid.iterrows():
    plasmid.loc[i,'Digestion Tube'] = row2tube[str(i)]

plasmid

,Plasmid,Concentration,Buffer,PME1,Volume of Plasmid,Volume of Water,Plasmid Location,Digestion Tube
0,34,226.5,4.4,1.0,6.622517,31.977483,A2,B1
1,90,375.9,4.4,1.0,3.990423,34.609577,B2,B2
2,119,314.8,4.4,1.0,4.764930,33.835070,C2,B3
3,242,505.8,4.4,1.0,2.965599,35.634401,D2,B4

In [4]:
#lastlocation = plasmid['Digestion Tube'].iloc[-1]
lastlocation = 'H12'

rowchar = lastlocation[0]
r = ord(rowchar[0])

if lastlocation[2] == '2':
    newlocation = chr(r + 1) + '1'
elif lastlocation[2] == '1' or '0':
    newlocation = lastlocation[0] + lastlocation[1] + str(int(lastlocation[2]) + 1)
else:
    newlocation = lastlocation[0] + str(int(lastlocation[1]) + 1)


newlocation

'I1'

In [85]:
lastlocation[2]

'2'